<md-toolbar md-scroll-shrink ng-if="true">
  <div class="md-toolbar-tools">
    <h3>
        <span>Wordgame</span>
      </h3>
  </div>
</md-toolbar>
<form name="JatekForm">
  <md-content layout="row">
    <md-input-container>
      <label for="username">Username</label>
      <input required type="text" ng-model="HomeCtrl.username" id="username" name="username" focus-if>
    </md-input-container>
    <md-input-container>
      <label for="word">Word</label>
      <input required type="text" ng-model="HomeCtrl.word" id="word" name="word">
    </md-input-container>

    <table>
      <thead>
        <td><b><u>No.</u></b></td>
        <td><b><u>Name</u></b></td>
        <td><b><u>Score</u></b></td>
      </thead>
      <tr ng-repeat="score in HomeCtrl.highScores">
        <td align="center">{{$index + 1}}.</td>
        <td align="center">{{ score.name }}</td>
        <td align="center">{{ score.score }}</td>
      </tr>
    </table>
  </md-content>
  <md-button class="md-raised md-primary" type="submit" ng-click="HomeCtrl.wordEntered()" ng-disabled="!JatekForm.$valid">Submit</md-button>
</form>